body {
  font-family: Sans-serif;
} 
.c-colleagues__function {
  display: none;
}

.l-grid {
  display: none;
}

.general-form {
  display: block;
  align-items: center;
  text-align: left;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 500px;
  padding: 50px;
  border: 0px solid #eee
}

#user-input {
  margin-bottom: 60px;  
}

input, select {
  padding: 7px;
  border: 1px solid #eee;
  border-radius: 5px;
  font-size: 14px;
  margin: 4px
}

legend {
  font-size: 14px;
  margin-left: 8px;
  margin-top: 16px;
  margin-bottom: 4px;
  font-weight: 600;
}

 ::placeholder {
  color: #b2b2b2;
  font-size: 12px;
}

#signature {
  display: none;
}
